
@font-face {
  font-family: 'Her-Leeoksun';
  src: url('Her-Leeoksun.eot?#iefix') format('embedded-opentype'),  url('Her-Leeoksun.woff') format('woff'), url('Her-Leeoksun.ttf')  format('truetype'), url('Her-Leeoksun.svg#Her-Leeoksun') format('svg');
  font-weight: normal;
  font-style: normal;
}
